{% extends "paccotest/base.html" %}

{% load i18n %}
{% block content %}
    <div ng-controller="PositionController">

        <h1>{% trans "GPS" %}</h1>
        <br />
        <br />
        <div ng-hide="myData.fromServer != null">
            <button ng-click="myData.doClick(item, $event)" class="btn btnLarge">{% trans "Measure" %}</button>
        </div>

        <div ng-show="myData.fromServer != null">
            <ul class="resultsGPS">
                <li>{% trans "latitude" %} : <span class="resultdisplayA">{[{myData.fromServer.latitude}]}</span></li>
                <li>{% trans "longitude" %} : <span class="resultdisplayA">{[{myData.fromServer.longitude}]}</span></li>
                <li>{% trans "elevation" %} : <span class="resultdisplayA">{[{myData.fromServer.elevation}]}</span></li>
                <li>{% trans "utc" %} : <span class="resultdisplayA">{[{myData.fromServer.utc}]}</span></li>
            </ul>

            <!-- Filled by AngularJS on Ajax Request -->
            <form method="post" action="{% url 'paccotest:gpsPositionForm' %}">
                {% csrf_token %}
                {{ form }}
                <br /><br />
                <button type="submit" class="btn btnLarge btnChangePage" value="{% trans 'submit' %}" name="{% trans 'submit' %}">{% trans 'button-next' %}</button>
            </form>
        </div>

      </div>

{% endblock %}
