{% extends "paccotest/base.html" %}

{% load i18n %}
{% block content %}
    {% if all_questions %}

	<div ng-controller="TabController as tab">
	<p class="tabsNavigation">
	{% for question in all_questions %}
		<span ng-class="{active:tab.isSet({{ forloop.counter }})}"><!--ng-click="tab.setTab({{question.id}})"-->&nbsp;</span>
	{% endfor %}
		<span ng-class="{active:tab.isSet({{lastTab}})}"><!--ng-click="tab.setTab({{lastTab}})"-->&nbsp;</span>
	</p>
        <form method="post" action="{% url 'paccotest:questionnaireForm' %}">

        {% csrf_token %}
             <input ng-hide="tab.isSet({{lastTab}})" id="skipQuestion" data-role="none" type="submit" name="skip" value="> skip all Questions" />
            {% for question in all_questions %}
                <div ng-show="tab.isSet({{ forloop.counter }})" class="ui-field-contain tabitem">
                    <h2 style="position:fixed;top:3px;right:15px;display:block;text-align:right;"><span class="bigger">{{ forloop.counter }}</span> / {{ all_questions.count }}</h2>
                    <h1 class="question" style=text-align:center;margin-top:25px;margin-bottom:25px;">{{ question.text }}</h1>
			<br />      
			<fieldset data-role="controlgroup" style="border:none;text-align:center;align:center;">
                        {% for answer in question.answers.all %}
                        	<div class="btn btnRadio" ng-click="tab.nextTab({{forloop.parentloop.counter}},{{ forloop.counter }})">
                        		<input  type="radio" name="{{ question.id}}" id="question{{ question.id}}_answer{{ forloop.counter }}" value="{{ answer.id }}">
                        		<label for="question{{ question.id}}_answer{{ forloop.counter }}">{{ answer.text }}</label>
                     		</div>
                        {% endfor %}
                    	</fieldset>
                </div>
            {% endfor %}
                <div class="tabitem tabitemTrsntn" ng-show="tab.isSet({{lastTab}})" class="ui-field-contain">
	  		<span style="border:1px dotted black;position:fixed;top:3px;left:3px;padding:7px 15px;">{% trans "summary" %}</span>
			<br />
			{% for question in all_questions %}
			<p>
				{{forloop.counter}}. {{ question.text }}
                {% for answer in question.answers.all %}
                    <b><span ng-click="tab.setTabResume({{forloop.parentloop.counter}})" class="resumeAnswer resumeAnswer_{{forloop.parentloop.counter}}" id="resumeAnswer_{{forloop.parentloop.counter}}_{{ forloop.counter }}">{{ answer.text }}</span></b>
                {% endfor %}
            </p>
           	{% endfor %}
			<input type="hidden" id="lastTabValue" value="{{lastTab}}" />
			<p style="text-align:center;"><input class="btn btnLarge" style="padding:25px;" type="submit" value="{% trans 'proceed' %}" /></p>
                </div>
            
        </form>
	</div>
    {% else %}
        <p>No questions are available</p>
    {% endif %}

{% endblock %}
