{% extends "paccotest/base.html" %}

{% load i18n %}
{% block content %}
    {% if all_questions %}
	<div ng-controller="TabController as tab">
	<p class="tabsNavigation">
	{% for question in all_questions %}
		<span ng-class="{active:tab.isSet({{question.id}})}"><!--ng-click="tab.setTab({{question.id}})"-->&nbsp;</span>
	{% endfor %}
		<span ng-class="{active:tab.isSet({{lastTab}})}"><!--ng-click="tab.setTab({{lastTab}})"-->&nbsp;</span>
	</p>
        <form method="post" action="{% url 'paccotest:questionnaireForm' %}">
        {% csrf_token %}
            {% for question in all_questions %}
                <div ng-show="tab.isSet({{question.id}})" class="ui-field-contain tabitem">
                    <h2><span class="bigger">{{ forloop.counter }}</span> / {{ all_questions.count }}</h2>
                    <h1 class="question">{{ question.text }}</h1>
			<br />      
			<fieldset data-role="controlgroup">
                        {% for answer in question.answers.all %}
                        	<div ng-click="tab.nextTab({{question.id}},{{ forloop.counter }})">
                        		<input type="radio" name="{{ question.id}}" id="question{{ question.id}}_answer{{ forloop.counter }}" value="{{ answer.id }}">
                        		<label for="question{{ question.id}}_answer{{ forloop.counter }}">{{ answer.text }}</label>
                     		</div>
                        {% endfor %}
                    	</fieldset>
                </div>
            {% endfor %}
                <div class="tabitem" ng-show="tab.isSet({{lastTab}})" class="ui-field-contain">
	  		<h1 class=question">{% trans "summary" %}</h1>
			<br />
			{% for question in all_questions %}
			<p>
				{{ question.text }}
                {% for answer in question.answers.all %}
                    <b><span ng-click="tab.setTabResume({{question.id}})" class="resumeAnswer resumeAnswer_{{ question.id }}" id="resumeAnswer_{{ question.id }}_{{ forloop.counter }}">{{ answer.text }}</span></b>
                {% endfor %}
            </p>
           	{% endfor %}
			<br /> 
			<input type="hidden" id="lastTabValue" value="{{lastTab}}" />                
			<input type="submit" value="{% trans 'proceed' %}" />
                </div>
            
        </form>
	</div>
    {% else %}
        <p>No questions are available</p>
    {% endif %}

{% endblock %}
