<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Pacco-test | {% block titre %}{% endblock %}</title>
		<link type="text/css" href="/site_media/page.css?{% now 'U' %}" rel="stylesheet" />
	    {% load static %} <!-- New line -->
        <script src="{% static "js/jquery.min.js" %}"></script>
        <script src="{% static "js/angular.min.js" %}"></script>
        <script src="{% static "js/pacco-test.js" %}"></script>

    </head>
	<body ng-app="paccoApp">
		<div id="cadre">
			{% block contenu %}{% endblock %}
		</div>
	</body>
</html>



