{% extends "base.html" %}
{% block titre %}Sonde{% endblock %}
{% block contenu %}
	{% if last_question == False %}
		<h1>{{txt.sonde}} {{sact}}/{{stotal}}</h1>
		{% if etape == 1 %}
			<p>{{txt.sonde_phrase1}} {{sensor}} {{txt.sonde_phrase2}}</p>
			<a href="?etape=2&correction={{correction}}">OK</a>
		{% elif etape == 2 %}
			<p>{{sensor}} = {{result}}</p>
			<br />
			<p><a href="{{snext}}">{{txt.nextstep}}</a></p>
		{% endif %}
	{% else %}
		<h1>{{txt.resume}}</h1>
		{% for qr in sensor %}
			&bull; {{qr.1}} : <a href="{{qr.0}}?etape=1&correction=True" class="a_resume">{{qr.2}}</a><br />
			<!--<a href="...">a</a><br /><br />-->
		{% endfor %}
		{{txt.resume_sondes}}
		<a href="{{snext}}">{{txt.nextstep}}</a>
	{% endif %}
{% endblock %}
