* {
	margin:0;
	padding:0;
}
#cadre {
	/*width:800px;
	height:480px;*/
    width:700px;
	height:440px;
	background-color:#A8A892;
	color:black;
	padding:20px 50px;
	text-shadow:none;
}
p, h1, h2 {
    width:700px;
}

/* QuestionnaireForm */
	.question {

		font-size:25px;
	}
	.bigger {
	    font-size:250%;
	}
	.tabsNavigation {
		display:block;
		text-align:center;
	}
	.tabsNavigation span {
		background-color:white;
		border:5px solid white;
		width:5px;
		height:5px;
		display:inline-block;
		margin:1px;
		text-decoration:none;
	}
	.tabsNavigation span.active {
		border-color:#0769AD;
	}
	.tabitem{
		-webkit-transition: 1s linear all;
		transition:1s linear all;
		opacity:1;
		position:absolute;
		top:30px;
		left:30px;
	}
	.tabitem.ng-hide {
		opacity:0;
	}
	.tabitem.ng-hide-add, .tabitem.ng-hide-remove {
		display:block !important;
	}
	.resumeAnswer {
		cursor:pointer;
}
/* ProbesForm */
    .resultat {
        display:block;
        text-align:center;
        border:1px dotted black;
        padding:20px;
    }
    .red {
        color:#a72424;
    }
