* {
	margin:0;
	padding:0;
}
ul {
    list-style:none;
}
#cadre {
	/*width:800px;
	height:480px;*/
	position:relative;
    width:700px;
	height:410px;
	background-color:#F47920;
	color:black;
	padding:20px 50px;
	text-shadow:none;
}
p, h1, h2 {
    width:700px;
}

.resultdisplay {
    font-size:25px;
    font-weight:bold;
}
/* QuestionnaireForm */
	.question {

		font-size:25px;
	}
	.bigger {
	    font-size:250%;
	}
	.tabsNavigation {
		display:block;
		text-align:center;
	}
	.tabsNavigation span {
		background-color:white;
		border:5px solid white;
		width:5px;
		height:5px;
		display:inline-block;
		margin:1px;
		text-decoration:none;
	}
	.tabsNavigation span.active {
		border-color:#0769AD;
	}
	.tabitem{
		-webkit-transition: 1s linear all;
		transition:1s linear all;
		opacity:1;
		position:absolute;
		top:30px;
		left:30px;
	}
	.tabitem.ng-hide {
		opacity:0;
	}
	.tabitem.ng-hide-add, .tabitem.ng-hide-remove {
		display:block !important;
	}
	.resumeAnswer {
		cursor:pointer;
		font-size:17px;
}
#skipQuestion {
    display:block;
    position:absolute;
    right:0;
    bottom:0;
    padding:25px;
    cursor:pointer;
    border:none;
    font-size:11px;
    text-transform:uppercase;
}
#skipQuestion:hover {
    background-color:yellow;
}
/* ProbesForm */
    .resultat {
        display:block;
        text-align:center;
        border:1px dotted black;
        padding:20px;
    }
    .red {
        color:#a72424;
    }
