{% extends "base.html" %}
{% block titre %}Question {{qact}}{% endblock %}
{% block contenu %}
	{% if last_question == False %}
		<h1>{{txt.question}} {{qact}}/{{qtotal}}</h1>
		<h2>{{ question }}</h2>
		{% for r in reponses %}
		<a href="{{qnext}}?r={{forloop.counter}}{{othervariables}}">{{r}}</a>
		{% endfor %}
	{% else %}
		<h1>{{txt.resume}}</h1>
		<!--{% for q in question %}
			{{q}}<br />
		{% endfor %}
		{% for r in reponses %}
			{{r}}<br />
		{% endfor %}-->
		{% for qr in array_qr %}
			&bull; {{qr.1}} <a href="{{qr.0}}?correction=True" class="a_resume">{{qr.2}}</a><br />
			<!--<a href="...">a</a><br /><br />-->
		{% endfor %}
		{{txt.resume_questions}}
		<a href="{{qnext}}">{{txt.nextstep}}</a>
	{% endif %}
{% endblock %}


