{% extends "base.html" %}
{% block content %}
    {% if all_questions %}
        <form method="post">
        {% csrf_token %}
            <fieldset >
            {% for question in all_questions %}
                {{ question.question_text }}

                        {% for answer in question.answers %}
                            <label for="question{{ question.id }}-answer{{ forloop.counter }}">{{ answer.answer_text }}</label>
                            <input type="radio" name="question{{ question.id }}" id="question{{ question.id }}-answer{{ forloop.counter }}" value="{{ answer.id }}" />
                        {% endfor %}


            {% endfor %}
            </fieldset>

            <input type="submit" value="Vote" />
        </form>
    {% else %}
        <p>No questions are available</p>
    {% endif %}
{% endblock %}

