{% extends "paccotest/base.html" %}


{% block content %}
    {% if all_questions %}
        <form method="post" action="{% url 'paccotest:questionnaireForm' %}">
        {% csrf_token %}
            {% for question in all_questions %}
                <div class="ui-field-contain">
                    <fieldset data-role="controlgroup">
                        <legend>{{ question.question_text }}</legend>
                        {% for answer in question.answers.all %}
                        <input type="radio" name="question{{ question.id}}" id="question{{ question.id}} _ answer{{ forloop.counter }}" value="{{ answer.id }}" checked="checked">
                        <label for="question{{ question.id}} _ answer{{ forloop.counter }}">{{ answer.answer_text }}</label>
                        {% endfor %}
                    </fieldset>
                </div>
            {% endfor %}

            <input type="submit" value="Submit" />
        </form>
    {% else %}
        <p>No questions are available</p>
    {% endif %}

{% endblock %}