* {
	margin:0;
	padding:0;
}
#cadre {
	width:800px;
	height:480px;
	background-color:black;
	color:white;
}
/*
a.bouton {
	color:white;
	text-decoration:none;
}

ol.bread-crumb  {
	list-style:none;
	padding:0;
}
ol.bread-crumb  li {
	padding:4px 9px;
	display:inline-block;
	background-color:white;
}
ol.bread-crumb  li.bread-crumb-active {
	background-color:green;
	padding:9px 9px;
}
.section {
    display:inline-block;
    font-weight:bold;
    text-transform:uppercase;
    font-size:11px;
    padding:5px;
    border: 1px solid black;
}
.section-chapeau {
    font-size:25px;
}
.btnHidden {
  display: none !important;
}
*/

/* QuestionnaireForm */
	.question {
		width:740px;
		font-size:25px;
	}
	.tabsNavigation {
		display:block;
		text-align:center;
	}
	.tabsNavigation a {
		background-color:white;
		border:5px solid white;
		width:5px;
		height:5px;
		display:inline-block;
		margin:1px;
		text-decoration:none;
	}
	.tabsNavigation a.active {
		border-color:#0769AD;
	}
	.tabitem{
		-webkit-transition: 1s linear all;
		transition:1s linear all;
		opacity:1;
		position:absolute;
		top:30px;
		left:30px;
	}
	.tabitem.ng-hide {
		opacity:0;
	}
	.tabitem.ng-hide-add, .tabitem.ng-hide-remove {
		display:block !important;
	}
	.resumeAnswer {
		cursor:pointer;
}