* {
	margin:0;
	padding:0;
}
#cadre {
	/*width:800px;
	height:480px;*/
	width:760px;
	height:440px;
	/*border:1px solid black;*/
	background-color:#c4c4a2;
	padding:20px;
}
a {
	display:inline-block;
	padding:10px;
	margin:1px;
	background-color:#b3966c;
	color:black;
	text-decoration:none;
}
a:hover {
	background-color:#b36e6c;
}
a.a_resume {
	display:inline;
	padding:0;
	margin:0;
	background:none;
	color:black;
	text-decoration:none;
	font-weight:bold;
}
a.a_resume:hover {
	background:none;
	text-decoration:underline;
}
